{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Sacred Jungle{{/block}}</title>
        <link href="https://fonts.googleapis.com/css?family=Mukta|Nunito|Poppins:500&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel='stylesheet' href='../app.css'>
    </head>
    <body>
{{/block}}
<!--begin main template-->
<div class="container-fluid">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/sightingForm">New Sighting</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/endangered">Endangered</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/regular" >Not-endangered</a>
        </li>
    </ul>

    {{#block "preContent"}}
    {{/block}}

    <div class="container" id="contentContainer">
        {{#block "content"}}
        {{/block}}
    </div>
</div>
<!--end main template-->
{{#block "footer"}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
    </html>
{{/block}}